:root {
  --gradient-linear: #5442d6;
  --color-main-headers: #1700a1
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  overflow-x: hidden;
  font-family: 'M PLUS Rounded 1c';
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background-color: #B2B2B2;
  border-radius: 100vw;
  border: .1em solid #eee;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #848484;
  transition: all .3s ease-out;
}

::-webkit-scrollbar-track{
  margin-block: 5px;
}

#header {
  width: 100%;
  height: 5.25em;
  position: fixed;
  top: 0;
  background: var(--gradient-linear);
}

img {
  display: block;
  max-width: 100%;
}

.clickHere a {
  display: block;
  max-width: 22.5em;
  margin: 0 auto;
  padding: 5px;
}

.bg-gradient {
  height: 50em;
  background-image: linear-gradient( rgba(84,66,214,1) 0%, rgba(250,233,255,1) 61%, rgba(255,255,255,0) 100%);
}

.bg2-gradient {
  height: 66.5em;
  background-image: linear-gradient(rgba(255,255,255,0) 0%, rgba(250,233,255,1) 25%, rgba(84,66,214,1) 100%);
  display: flex;
}

.footer-content {
  margin: 0 auto 3.8em auto;
  align-self: flex-end;
}

.footer-content a img{
  margin: 2.5em auto 0 auto;
}

.footer-content h2 {
  text-align: center;
  color: #fff;
}

.forninho {
  max-width: 12em;
  height: auto;
  align-self: flex-end;
}

.bg-gradient header {
  padding-top: 1em;
}

.f-section {
  margin-top: 6.25em;
  background-image: url(./assets/another-test-bg.svg);
  background-size: cover;
  background-position: center;
  height: 52em;
}

.container {
  max-width: 41.25em;
  margin: 0 auto;
  padding-top: 6em;
}

.container h1 {
  padding-top: 8em;
}

.container h1 {
  color: var(--color-main-headers);
  text-align: center;
}

.clickHere, .clickButton {
  margin: 0 auto;
}

.clickHere {
  max-width: 41.25em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.flex-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-section img {
  max-width: 28em;
  margin-right: 1em;
}

.section-content {
  max-width: 31.25em;
}

.section-content p {
  margin-top: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 2.5em;
}

.nav-list li a {
  font-size: 1.3em;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  .f-section {
    background-image: url(./assets/mobile-bg.svg);
    background-size: cover;
    background-position: center;
    height: 25em;
  }
  .container h1 {
    margin-top: -5em;
  }
  .forninho {
    display: none;
  }
  .flex-section {
    flex-direction: column;
  }
  .flex-section img {
    margin: 1em auto;
    max-width: 16em;
  }
  .footer-content h2 {
    max-width: 22em;
    text-align: center;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30vw;
    height: 92vh;
    background: #A180FF;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

@media (max-width: 728px) {
  .container {
    max-width: 30em;
  }
  /* .container h1 {
    font-size: 0.9em;
  } */
  .flex-section {
    font-size: 1em;
  }
  .flex-section img {
    max-width: 16em;
  }
  .footer-content h2 {
    text-align: center;
    max-width: 22em;
    /* font-size: 0.9em; */
  }
  .clickButton, .clickButton2 {
    max-width: 15em;
  }
}

@media (max-width: 530px) {
  body p {
    font-size: 0.9em;
  }
  #header {
    height: 4em;
  }
  .f-section {
    margin-top: 5em;
  }
  .main-logo {
    margin-top: -10px;
    max-width: auto;
    height: 2.5em;
  }
  .container h1 {
    max-width: 22em;
    font-size: 1em;
    margin: 0 auto;
  }
  .flex-section {
    max-width: 22em;
    font-size: 1em;
    margin: 4em auto;
  }
  .flex-section img {
    max-width: 14em;
  }
  .footer-content h2 {
    max-width: 22em;
    font-size: 1em;
  }
}

@media (max-width: 405px) {
  body p {
    font-size: 0.8em;
  }
  .flex-section h2, p {
    max-width: 18em;
    font-size: 1em;
  }

  .flex-section img {
    max-width: 14em;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
